<div id="heading-breadcrumbs" style="margin-bottom: 20px;padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
    {{ if .Data.Pages }}
      <div class="container">
        <div class="navbar navbar-default navbar-small">
            <ul class="nav navbar-nav navbar-left navbar-nav-small">
                {{ range .Data.Pages }}
                <li class="dropdown">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    {{ end }}
</div>
