{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                {{ if not .hidden }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-7">
                            {{ if .image }}
                                <div class="img-overlay-wrapper">
                                {{ if .link }}<a href="{{ .link }}">{{ end }}
                                    <img class="img-responsive" src="{{ .image }}" alt="">
                                    {{ if .overlay }}<div class="img-overlay"><i class="{{ .overlay }}"></i></div>{{ end }}
                                {{ if .link }}</a>{{ end }}
                                </div>
                            {{ end }}
                        </div>
                        <div class="col-sm-5 center">
                            <h1>{{ .title }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
