{{ if isset .Site.Params "sponsors" }}
{{ if .Site.Params.sponsors.enable }}
{{ if gt (len .Site.Data.sponsors) 0 }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                  {{ .Site.Params.sponsors.subtitle }}
                </p>

                {{ if .Site.Params.sponsors.show_list }}
                    {{ partial "widgets/sponsors.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
