.background-image-fixed-2 .container {
  height: 350px;
}

.navbar-default {
  background-color: #f36f21;
}

.home-carousel {
  background: url('../img/programming-ide.jpg') center center repeat;
}

.home-carousel .dark-mask {
  opacity: 0.1;
}

.navbar ul.nav > li > a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
}

section {
  margin-bottom: 0px;
}

div#post-content img {
  max-width: 100%;
}
