body {
  font-size: 16px;
}

p {
  line-height: 1.5;
}

figcaption {
  text-align: center;
}

.img-overlay-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-simple {
  margin-bottom: 20px;
}

.background-image-fixed-2 .container {
  height: 450px;
}

.navbar-default {
  background-color: #40383C;
}

.navbar-affixed-top.affix {
  box-shadow: 0 0 5px #2B282A;
}


.home-carousel {
  background-color: #393336;
  background: #3E9198 url('../img/ambulance-codebusters.png') no-repeat center center;
  text-shadow: 3px 2px 6px #222;
  height: 550px;
}

.home-carousel .dark-mask {
    background-color: #463D2C;
  opacity: 0.6;
}

.home-carousel .owl-item .item > .row > .col-sm-7 img.img-responsive {
  max-height: 420px;
  margin-left: auto;
  margin-right: auto;
}

.home-carousel .owl-theme .owl-controls .owl-page span {
    background: #FFA500;
}

.home-carousel .owl-theme .owl-controls .owl-page.active span {
    background: #FFA500;
}

.home-carousel a {
  color: #f39c0d;
}

.home-carousel .img-overlay {
  color: #ffed08;
}

@media (min-width: 992px) {
  .home-carousel .center {
    text-align: center;
  }
}

.navbar ul.nav > li > a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
}

section {
  margin-bottom: 0px;
}

div#post-content img {
  max-width: 100%;
}

.sponsor {

}

.sponsor-platinum,
.sponsor-gold,
.sponsor-silver,
.sponsor-meetandgreet
{
  background-color: #f5f5f5;
  text-align:center;
  border: solid 1px #ddd;
  box-shadow: 7px 7px 3px 0px #ddd;
  padding: 7px;
  margin-bottom: 20px;
}

.sponsor-platinum img,
.sponsor-gold img,
.sponsor-silver img,
.sponsor-bronze img,
.sponsor-meetandgreet img
{
  max-width:100%;
  max-height:100%;
  display: inline;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.sponsor-platinum {
  height: 250px;
}

.sponsor-gold {
  height: 150px;
}

.sponsor-silver {
  height: 100px;
}

.sponsor-bronze {
  height: 100px;
  text-align:center;
  margin-bottom: 20px;
  padding: 10px;
}

.sponsor-bronze-hidden {
  background-color: #f5f5f5;
  border: solid 1px #ddd;
}

.sponsor-meetandgreet {
  height: 150px;
}

.sponsor-partenaire img {
  max-height: 100px;
  max-width: 250px;
}


.licorne {
  background-image: url('/img/sponsors/sponsor_licorne.png');
  background-size: 80px;
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
}

.nyancat {
  background-image: url('/img/sponsors/sponsor_nyancat.png');
  background-size: 50px;
  background-position: top 5px right 5px;
  background-repeat: no-repeat;
}

.carousel-img {
  max-height: 350px;
}

#footer {
  margin-top: 50px;
  padding: 20px;
  background: #3f3f3f;
}

#footer .container {
  padding: 0px;
}

.navbar-small {
  min-height: 0px;
  margin-right: -15px;
  margin-left: -15px;
  background-color: rgba(243, 111, 33, 0.5);;
}

.navbar-nav-small > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav li img {
  max-height: 20px;
}

.navbar-nav li .label {
  font-size-adjust: 0.5;
  vertical-align: top;
  text-transform: none;
}

.calendar-filter-button {
  margin-bottom: 5px;
}

.speaker-box {
  display: flex;
  padding: 7px;
}

.speaker {
  width: 100%;
  display: block;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  padding: 15px 15px 15px;
}

.speaker .social {
  font-size-adjust: 0.48;
  font-style: italic;
}

.fc-time-grid-event {
  cursor: pointer;
}

.figure-center img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


.asso-usergroup {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  padding: 10px;
  margin-bottom: 30px;
}

.asso-usergroup-logo {
  display: block;
  max-width: 90%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  padding: 10px;
  margin-bottom: 30px;
}

.team-member img {
  border-radius: 50%;
  border: 1px dashed #FFA500;
  overflow: hidden;
  display: block;
  max-width: 90%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
} 

.asso-sponsors .sponsor {
  background-color: #f5f5f5;
  text-align:center;
  border: solid 1px #ddd;
  box-shadow: 7px 7px 3px 0px #ddd;
  padding: 7px;
  margin-bottom: 20px;
}

.asso-sponsors .sponsor img
{
  max-width:100%;
  max-height:100%;
  display: inline;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}


.asso-sponsors .licorne {
  padding: 30px;
  height: 250px;
}

.asso-sponsors .nyancat {
  padding: 10px;
  height: 150px;
}

.asso-sponsors .usergroup {
  padding: 10px;
  height: 100px;
}


.language-troll {
  font-family: monospace;
  color: #c85d1b;
}

.speaker-bio {
  margin-top: 10px;
}

.ng-hide {
  display: none;
}