body {
  font-size: 16px;
}

p {
  line-height: 1.5;
}

figcaption {
  text-align: center;
}

.box-simple {
  margin-bottom: 20px;
}

.background-image-fixed-2 .container {
  height: 450px;
}

.navbar-default {
  background-color: #363033;
  /*background-color: #f36f21;*/
}

.home-carousel {
  background: #d55740 url('../img/dolorean.png') no-repeat center center;
  text-shadow: 3px 2px 6px #222;
  height: 500px;
}

.home-carousel .dark-mask {
  opacity: 0.1;
}

.home-carousel .owl-item .item > .row > .col-sm-7 > img.img-responsive {
  max-height: 420px;
}

.navbar ul.nav > li > a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
}

section {
  margin-bottom: 0px;
}

div#post-content img {
  max-width: 100%;
}

.sponsor {

}

.sponsor-platinum,
.sponsor-gold,
.sponsor-silver
{
  background-color: #f5f5f5;
  text-align:center;
  border: solid 1px #ddd;
  box-shadow: 7px 7px 3px 0px #ddd;
  padding: 7px;
  margin-bottom: 20px;
}

.sponsor-platinum img,
.sponsor-gold img,
.sponsor-silver img
{
  max-width:100%;
  max-height:100%;
  display: inline;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.sponsor-platinum {
  height: 250px;
}

.sponsor-gold {
  height: 150px;
}

.sponsor-silver {
  height: 100px;
}


.sponsor-partenaire {

}

.licorne {
  background-image: url('/img/sponsors/sponsor_licorne.png');
  background-size: 80px;
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
}

.nyancat {
  background-image: url('/img/sponsors/sponsor_nyancat.png');
  background-size: 50px;
  background-position: top 5px right 5px;
  background-repeat: no-repeat;
}

.carousel-img {
  max-height: 350px;
}

#footer {
  margin-top: 50px;
  padding: 20px;
  background: #3f3f3f;
}

#footer .container {
  padding: 0px;
}

.navbar-small {
  min-height: 0px;
  margin-right: -15px;
  margin-left: -15px;
  background-color: rgba(243, 111, 33, 0.5);;
}

.navbar-nav-small > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.calendar-filter-button {
  margin-bottom: 5px;
}

.speaker-box {
  display: flex;
  padding: 7px;
}

.speaker {
  width: 100%;
  display: block;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  padding: 15px 15px 15px;
}

.fc-time-grid-event {
  cursor: pointer;
}

.figure-center img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


.asso-usergroup {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  padding: 10px;
  margin-bottom: 30px;
}

.asso-usergroup-logo {
  display: block;
  max-width: 90%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.asso-sponsors .sponsor {
  background-color: #f5f5f5;
  text-align:center;
  border: solid 1px #ddd;
  box-shadow: 7px 7px 3px 0px #ddd;
  padding: 7px;
  margin-bottom: 20px;
}

.asso-sponsors .sponsor img
{
  max-width:100%;
  max-height:100%;
  display: inline;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}


.asso-sponsors .licorne {
  padding: 30px;
  height: 250px;
}

.asso-sponsors .nyancat {
  padding: 10px;
  height: 150px;
}

.asso-sponsors .usergroup {
  padding: 10px;
  height: 100px;
}


.language-troll {
  font-family: monospace;
  color: #c85d1b;
}
