<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link href="{{ .Site.BaseURL }}css/dependencies/fullcalendar.css" rel="stylesheet">


<body>

<div id="all">

    <header>

        {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs_with_sub.html" . }}

    <!--/.nav-collapse -->

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" ng-app="programme" ng-controller="ProgrammeCtrl as progCtrl">
                    <form novalidate>
                        <div class="form-group">
                            <label class="control-label"><strong>Track</strong></label>
                            <ul class="list-inline">
                                <li ng-repeat="(category, color) in progCtrl.categoryColors track by category">
                                    <label class="btn btn-default calendar-filter-button"
                                           ng-model="progCtrl.filters.category[category]"
                                           uib-btn-checkbox>
                                        <i class="fa fa-square fa-fw" ng-style="{color: color}"></i>
                                        <span ng-bind="::category"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><strong>Format</strong></label>
                            <ul class="list-inline">
                                <li ng-repeat="formatDef in progCtrl.formatDefinitions track by $index">
                                    <label class="btn btn-default calendar-filter-button" ng-model="progCtrl.filters.format[formatDef.format]"
                                           uib-btn-checkbox>
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-stack-1x fa-inverse" ng-class="::formatDef.icon"></i>
                                        </span>
                                        <span ng-bind="::formatDef.label"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><strong>Salle</strong></label>
                            <ul class="list-inline">
                                <li ng-repeat="(venue, room) in progCtrl.rooms track by room">
                                    <label class="btn btn-default calendar-filter-button" ng-model="progCtrl.filters.room[room]" uib-btn-checkbox>
                                        <em ng-bind="::room"></em>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="searchInput"><strong>Filtre</strong></label>
                            <input autofocus id="searchInput" class="form-control" ng-model="progCtrl.search"
                                   ng-change="progCtrl.refresh()">
                            <a class="form-control-feedback" href ng-click="progCtrl.clearSearch()"
                               ng-show="progCtrl.search" style="pointer-events: initial">
                                <i class="fa fa-close fa-lg"></i>
                            </a>
                        </div>
                    </form>

                    <div ui-calendar="progCtrl.calendarConfig" ng-model="progCtrl.agenda" ng-if="progCtrl.agenda"
                                 calendar="calendar"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

<script src="{{ .Site.BaseURL }}js/dependencies/angular.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/angular-animate.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/angular-sanitize.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/marked.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/angular-marked.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/angular-locale_fr.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/ui-bootstrap-tpls.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/moment.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/fullcalendar.min.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/calendar.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/lodash.min.js"></script>

<script src="{{ .Site.BaseURL }}js/dependencies/pdfkit.js"></script>
<script src="{{ .Site.BaseURL }}js/dependencies/blob-stream.js"></script>


<!-- Angular & Cie. pour le programme -->
<script>
    const PROGRAMME_CONFIG = (function () {
        return {
            "get_talks_method": "{{ .Site.Params.breizhcamp.programme_get_talks_method | default "static" }}",
            "start" : "{{ .Site.Params.breizhcamp.edition_date_start }}",
            "end" : "{{ .Site.Params.breizhcamp.edition_date_end }}"
        }
    })();
</script>
<script src="{{ .Site.BaseURL }}js/programme.js"></script>


</body>
</html>
