{{ if .lastname }}
<div class="col-md-4 col-sm-6 speaker-box">
  <div class="speaker">
    <div class="media">
      <div class="media-left">
        {{ if .imageProfilURL }}
        <img class="media-object img-circle" alt="{{ .firstname }} {{ .lastname }}" src="{{ .imageProfilURL }}" width="100" height="100">
        {{ end }}
      </div>
      <div class="media-body media-middle">
        <h3 class="media-heading">{{ .firstname }} {{ .lastname }}</h3>
      </div>
    </div>
    <div>
      {{ if .bio }}
      <p>{{ .bio | plainify | markdownify }}</p>
      {{ end }}
    </div>
    <div class="social">
      {{ if .github }}<div><i class="fa fa-1g fa-github"></i> {{ .github }}</div>{{ end }}
      {{ if .googleplus }}<div><i class="fa fa-1g fa-google-plus"></i> {{ .googleplus }}</div>{{ end }}
      {{ if .twitter }}<div><i class="fa fa-1g fa-twitter"></i> {{ .twitter }}</div>{{ end }}
      {{ range .social }}
        <div><i class="fa fa-1g fa-link"></i> {{ . }}</div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
