<div {{ if .id }}id="sponsor{{ .id }}" {{ end }} 
  class="sponsor sponsor-{{ .breizhcamp_level }} {{ if .hidden }} sponsor-{{ .breizhcamp_level }}-hidden {{ else }} {{ .asso_level }} {{ if .background_dark }} sponsor-bg-dark sponsor-{{ .breizhcamp_level }}-bg-dark {{ end }} {{ end }}">
{{ if not .hidden }}
  {{ if .url }}
    <a href="{{ .url }}" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
    </a>
  {{ else }}
    <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
  {{ end }}
{{ else }}
  Bientôt annoncé
{{ end }}
</div>
{{ if .note }}
  <div class="sponsor-box">
  	<a class="sponsor-button" href="#popup{{ .id }}">Le mot de {{ .name }} </a>
  </div>

  <div id="popup{{ .id }}" class="sponsor-popup-overlay">
  	<div class="sponsor-popup">
  		<h2>Le mot de {{ .name }}</h2>
  		<a class="close" href="#sponsor{{ .id }}">&times;</a>
  		<div class="sponsor-popup-content">
         {{ .note }}
  		</div>
  	</div>
  </div>
{{ end }}
