<div class="sponsor sponsor-{{ .breizhcamp_level }} {{ if .hidden }} sponsor-{{ .breizhcamp_level }}-hidden {{ else }} {{ .asso_level }} {{ if .background_dark }} sponsor-bg-dark sponsor-{{ .breizhcamp_level }}-bg-dark {{ end }} {{ end }}">
{{ if not .hidden }}
  {{ if .url }}
    <a href="{{ .url }}" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
    </a>
  {{ else }}
    <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
  {{ end }}
{{ else }}
  Bientot annoncé
{{ end }}
</div>
