<div class="row">
  <div class="heading text-center">
    <h3>Sponsors Platinum</h3>
  </div>
{{ range .Site.Data.sponsors.platinum }}
<div class="col-md-6 col-sm-12 sponsor platinum">
    {{ if .url }}
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
      </a>
    {{ else }}
      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
    {{ end }}
</div>
{{ end }}
</div>
<div class="row">
  <div class="heading text-center">
    <h3>Sponsors Gold</h3>
  </div>
{{ range .Site.Data.sponsors.gold }}
<div class="col-md-3 col-sm-6 sponsor gold">
    {{ if .url }}
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
      </a>
    {{ else }}
      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
    {{ end }}
</div>
{{ end }}
</div>
<div class="row">
  <div class="heading text-center">
    <h3>Sponsors Silver</h3>
  </div>
{{ range .Site.Data.sponsors.silver }}
<div class="col-md-2 col-sm-3 sponsor silver">
    {{ if .url }}
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
      </a>
    {{ else }}
      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
    {{ end }}
</div>
{{ end }}
</div>
<div class="row">
<div class="heading text-center">
  <h3>Partenaires</h3>
</div>
{{ range .Site.Data.sponsors.partenaires }}
<div class="col-md-6 col-sm-12">
    {{ if .url }}
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
      </a>
    {{ else }}
      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive center-block" />
    {{ end }}
</div>
{{ end }}
