<div class="sponsor sponsor-{{ .breizhcamp_level }} {{ if .hidden }} sponsor-{{ .breizhcamp_level }}-hidden {{ else }} {{ .asso_level }} {{ if .background_dark }} sponsor-bg-dark sponsor-{{ .breizhcamp_level }}-bg-dark {{ end }} {{ end }}">
{{ if not .hidden }}
  {{ if .url }}
    <a href="{{ .url }}" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
    </a>
  {{ else }}
    <img src="{{ .logo }}" alt="{{ .name }}" class="img-responsive center-block" />
  {{ end }}
{{ else }}
  Bientôt annoncé
{{ end }}
</div>
{{ if .note }}
  <div class="sp-link">
  	<a class="sp-button" href="#popup-{{ .id }}">Le mot de {{ .name }} </a>
  </div>

  <div id="popup-{{ .id }}" class="sp-pop-over">
  	<div class="sp-pop">
  		<h2>Le mot de {{ .name }}</h2>
  		<a class="close" href="#sponsors-gold">&times;</a>
  		<div class="sp-pop-content">
         {{ .note }}
  		</div>
  	</div>
  </div>
{{ end }}
