<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs_with_sub.html" . }}

        <!--/.nav-collapse -->

        <div id="content">
            <div class="container">
                <div class="row">
                    {{ .Content }}
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script>
        jQuery(document).ready(function() {
            setInterval(languageTroll, 3000);
        });
    </script>

  </body>
</html>
